
$primary: #1D7874 !default;
$spacer: 1rem !default;

@import "~bootstrap/scss/bootstrap";

.spinner-wrapper {
  padding: 6 * $spacer;
  min-height: 10 * $spacer;
}
.alert, .table {
  margin-top: 3 * $spacer;
}


